## Task 2
Import the Luxury Loan Portfolio into pandas dataframes and use Plotly dash to create a web app that displays 3 charts of different types that show interesting business metrics.

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("data/LuxuryLoanPortfolio.csv")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1678 entries, 0 to 1677
Data columns (total 32 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   loan_id                           1678 non-null   object
 1   funded_amount                     1678 non-null   float64
 2   funded_date                       1678 non-null   object
 3   duration years                    1678 non-null   int64
 4   duration months                   1678 non-null   int64
 5   10 yr treasury index date funded  1678 non-null   float64
 6   interest rate percent             1678 non-null   float64
 7   interest rate                     1678 non-null   float64
 8   payments                          1678 non-null   float64
 9   total past payments               1678 non-null   int64
 10  loan balance                      1678 non-null   float64
 11  property value                    1678 non-null   float64
 12  purpose                           1678 non-null   object
 13  firstname                         1678 non-null   object
 14  middlename                        1678 non-null   object
 15  lastname                          1678 non-null   object
 16  social                            1678 non-null   object
 17  phone                             1678 non-null   object
 18  title                             1666 non-null   object
 19  employment length                 1678 non-null   int64
 20  BUILDING CLASS CATEGORY           1678 non-null   object
 21  TAX CLASS AT PRESENT              1678 non-null   object
 22  BUILDING CLASS AT PRESENT         1678 non-null   object
 23  ADDRESS 1                         1678 non-null   object
 24  ADDRESS 2                         1678 non-null   object
 25  ZIP CODE                          1678 non-null   int64
 26  CITY                              1678 non-null   object
 27  STATE                             1678 non-null   object
 28  TOTAL UNITS                       1678 non-null   int64
 29  LAND SQUARE FEET                  1678 non-null   object
 30  GROSS SQUARE FEET                 1678 non-null   object
 31  TAX CLASS AT TIME OF SALE         1678 non-null   int64
dtypes: float64(7), int64(7), object(18)
memory usage: 419.6+ KB

In [3]:
data.head()

,loan_id,funded_amount,funded_date,duration years,duration months,10 yr treasury index date funded,interest rate percent,interest rate,payments,total past payments,...,BUILDING CLASS AT PRESENT,ADDRESS 1,ADDRESS 2,ZIP CODE,CITY,STATE,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,TAX CLASS AT TIME OF SALE
0,LL0000076,790000.0,2012-04-27,20,240,1.96,3.359,0.03359,4524.65,92,...,R1,171 SOUTH 9TH STREET,9,10001,New York City,NY,1,0,0,2
1,LL0000151,1720000.0,2014-10-14,15,180,2.21,3.508,0.03508,12302.74,62,...,R3,1242 E 80TH ST,19,10104,New York City,NY,1,0,0,1
2,LL0000161,3720000.0,2014-06-07,15,180,2.60,3.896,0.03896,27322.92,66,...,R3,1884 53RD STREET,2,10029,New York City,NY,1,0,0,1
3,LL0000175,1079000.0,2012-02-23,20,240,1.99,3.389,0.03389,6196.40,94,...,R1,79 EAGLE STREET,6,10010,New York City,NY,1,0,0,2
4,LL0000178,2028000.0,2016-04-01,20,240,1.79,3.188,0.03188,11439.05,45,...,RW,34 NORTH 7TH STREET,5,10172,New York City,NY,1,0,0,4

In [17]:
data["test"] = data["payments"] * (data["interest rate"]) * data["duration months"]

In [18]:
data[["test","funded_amount"]]

               test  funded_amount
0      36475.918440       790000.0
1      77684.421456      1720000.0
2     191610.173376      3720000.0
3      50399.039040      1079000.0
4      87522.459360      2028000.0
...             ...            ...
1673   21163.982040       528000.0
1674   44723.592528       885000.0
1675   81582.865920      1530000.0
1676   48517.911810       897000.0
1677   57519.178416      1656000.0

[1678 rows x 2 columns]

In [19]:
data["test_rate"] =   data["funded_amount"] - data["test"]
data["test_rate"]

0       7.535241e+05
1       1.642316e+06
2       3.528390e+06
3       1.028601e+06
4       1.940478e+06
            ...
1673    5.068360e+05
1674    8.402764e+05
1675    1.448417e+06
1676    8.484821e+05
1677    1.598481e+06
Name: test_rate, Length: 1678, dtype: float64