## Task 1
Import the CRM events and CRM call center logs tables into a PostgreSQL database. Use SQL to join the tables and summarize the average time to resolve complaints across a number of different dimensions.

Provide a short presentation / slidedeck (submitted as a PDF) that summarizes your findings.

In [141]:
import numpy as np
import pandas as pd

import psycopg2

In [142]:
crm_events = pd.read_csv("data/CRM Events.csv")
crm_logs = pd.read_csv("data/CRM Call Center Logs.csv")

In [143]:
crm_events.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,Client_ID
0,2014-07-03,Bank account or service,Checking account,Deposits and withdrawals,NaN,NaN,NaN,NaN,Email,2014-07-09,Closed with explanation,Yes,No,CR0922485,C00001925
1,2012-04-12,Bank account or service,Savings account,"Account opening, closing, or management",NaN,NaN,NaN,NaN,Email,2012-04-13,Closed with relief,Yes,No,CR0057298,C00003141
2,2012-04-03,Bank account or service,Checking account,"Account opening, closing, or management",NaN,NaN,NaN,NaN,Email,2012-04-03,Closed without relief,Yes,No,CR0043811,C00000297
3,2012-03-14,Credit card,NaN,Billing disputes,NaN,NaN,NaN,NaN,Email,2012-03-14,Closed with relief,Yes,No,CR0035411,C00004275
4,2012-03-05,Bank account or service,Checking account,"Account opening, closing, or management",NaN,NaN,NaN,NaN,Email,2012-03-06,Closed with relief,Yes,No,CR0030939,C00000900

In [144]:
crm_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23419 entries, 0 to 23418
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date received                 23419 non-null  object
 1   Product                       23419 non-null  object
 2   Sub-product                   14091 non-null  object
 3   Issue                         23419 non-null  object
 4   Sub-issue                     0 non-null      float64
 5   Consumer complaint narrative  4467 non-null   object
 6   Tags                          3276 non-null   object
 7   Consumer consent provided?    6872 non-null   object
 8   Submitted via                 23419 non-null  object
 9   Date sent to company          23419 non-null  object
 10  Company response to consumer  23419 non-null  object
 11  Timely response?              23419 non-null  object
 12  Consumer disputed?            22417 non-null  object
 13  Complaint ID                  23419 non-null  object
 14  Client_ID                     23419 non-null  object
dtypes: float64(1), object(14)
memory usage: 2.7+ MB

In [145]:
crm_logs

,Date received,Complaint ID,rand client,phonefinal,vru+line,call_id,priority,type,outcome,server,ser_start,ser_exit,ser_time
0,2017-03-27,CR2406263,C00004587,977-806-9726,AA0103,34536.0,0.0,NW,AGENT,MICHAL,13:34:11,13:40:23,00:06:12
1,2017-03-27,CR2405641,C00003328,322-598-7152,AA0205,34537.0,0.0,PS,AGENT,TOVA,10:58:22,11:16:10,00:17:48
2,2017-03-27,CR2405629,C00001685,508-311-5237,AA0110,34538.0,2.0,PS,AGENT,YIFAT,13:00:54,13:13:31,00:12:37
3,2017-03-23,CR2400594,C00001945,265-394-2727,AA0113,34540.0,2.0,PS,AGENT,AVNI,16:18:21,16:19:40,00:01:19
4,2017-03-22,CR2399607,C00004303,206-008-0460,AA0102,34541.0,1.0,PS,AGENT,STEREN,14:48:22,14:55:19,00:06:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3994,2019-10-12,NaN,NaN,703-826-5722,NaN,NaN,NaN,NaN,NaN,NaN,15:48:32,16:07:39,00:19:07
3995,2014-11-03,NaN,NaN,387-514-1611,NaN,NaN,NaN,NaN,NaN,NaN,11:08:45,11:14:31,00:05:46
3996,2016-09-02,NaN,NaN,508-397-7936,NaN,NaN,NaN,NaN,NaN,NaN,13:08:09,13:24:05,00:15:56
3997,2015-02-03,NaN,NaN,883-529-9005,NaN,NaN,NaN,NaN,NaN,NaN,15:47:13,15:50:33,00:03:20
3998,2015-11-21,NaN,NaN,212-770-6755,NaN,NaN,NaN,NaN,NaN,NaN,10:20:04,10:26:11,00:06:07

In [146]:
crm_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date received  3999 non-null   object
 1   Complaint ID   2504 non-null   object
 2   rand client    2504 non-null   object
 3   phonefinal     3999 non-null   object
 4   vru+line       3015 non-null   object
 5   call_id        3015 non-null   float64
 6   priority       3015 non-null   float64
 7   type           3015 non-null   object
 8   outcome        3015 non-null   object
 9   server         3015 non-null   object
 10  ser_start      3999 non-null   object
 11  ser_exit       3999 non-null   object
 12  ser_time       3999 non-null   object
dtypes: float64(2), object(11)
memory usage: 406.3+ KB

## Data Processing

### Events data

In [147]:
crm_events

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,Client_ID
0,2014-07-03,Bank account or service,Checking account,Deposits and withdrawals,NaN,NaN,NaN,NaN,Email,2014-07-09,Closed with explanation,Yes,No,CR0922485,C00001925
1,2012-04-12,Bank account or service,Savings account,"Account opening, closing, or management",NaN,NaN,NaN,NaN,Email,2012-04-13,Closed with relief,Yes,No,CR0057298,C00003141
2,2012-04-03,Bank account or service,Checking account,"Account opening, closing, or management",NaN,NaN,NaN,NaN,Email,2012-04-03,Closed without relief,Yes,No,CR0043811,C00000297
3,2012-03-14,Credit card,NaN,Billing disputes,NaN,NaN,NaN,NaN,Email,2012-03-14,Closed with relief,Yes,No,CR0035411,C00004275
4,2012-03-05,Bank account or service,Checking account,"Account opening, closing, or management",NaN,NaN,NaN,NaN,Email,2012-03-06,Closed with relief,Yes,No,CR0030939,C00000900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23414,2017-03-23,Bank account or service,Checking account,"Account opening, closing, or management",NaN,NaN,NaN,NaN,Phone,2017-03-23,Closed with explanation,Yes,NaN,CR2400594,C00001945
23415,2017-03-24,Bank account or service,Savings account,Deposits and withdrawals,NaN,NaN,Older American,NaN,Phone,2017-03-24,Closed with explanation,Yes,NaN,CR2403628,C00002421
23416,2017-03-27,Bank account or service,Checking account,"Account opening, closing, or management",NaN,NaN,Older American,NaN,Phone,2017-03-27,In progress,Yes,NaN,CR2405629,C00001685
23417,2017-03-27,Bank account or service,Checking account,"Account opening, closing, or management",NaN,NaN,NaN,NaN,Phone,2017-03-27,In progress,Yes,NaN,CR2405641,C00003328
23418,2017-03-27,Credit card,NaN,Closing/Cancelling account,NaN,NaN,Servicemember,NaN,Phone,2017-03-27,In progress,Yes,NaN,CR2406263,C00004587

In [148]:
crm_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23419 entries, 0 to 23418
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date received                 23419 non-null  object
 1   Product                       23419 non-null  object
 2   Sub-product                   14091 non-null  object
 3   Issue                         23419 non-null  object
 4   Sub-issue                     0 non-null      float64
 5   Consumer complaint narrative  4467 non-null   object
 6   Tags                          3276 non-null   object
 7   Consumer consent provided?    6872 non-null   object
 8   Submitted via                 23419 non-null  object
 9   Date sent to company          23419 non-null  object
 10  Company response to consumer  23419 non-null  object
 11  Timely response?              23419 non-null  object
 12  Consumer disputed?            22417 non-null  object
 13  Complaint ID                  23419 non-null  object
 14  Client_ID                     23419 non-null  object
dtypes: float64(1), object(14)
memory usage: 2.7+ MB

In [149]:
crm_events["Date received"] = pd.to_datetime(crm_events["Date received"])
crm_events["Date sent to company"] = pd.to_datetime(crm_events["Date sent to company"])

In [150]:
cols = "Consumer complaint narrative"
crm_events[cols].apply(lambda x: len(x) if isinstance(x,str) else x).sort_values(ascending=False)

crm_events.drop(cols,axis = 1,inplace=True)

In [151]:
crm_events["Sub-issue"].value_counts()

Series([], Name: count, dtype: int64)

this variable, Sub-issue, will be dropped later

In [152]:
crm_events.drop("Sub-issue", axis=1, inplace=True)

## logs

In [153]:
crm_logs["Date received"] = pd.to_datetime(crm_logs["Date received"])

In [154]:
crm_logs[["call_id", "priority"]] = crm_logs[["call_id", "priority"]].astype(str)
crm_logs["call_id"] = crm_logs["call_id"].apply(lambda x: int(float(x)) if isinstance(float(x),float) and pd.notnull(float(x)) else x)
crm_logs["priority"] = crm_logs["priority"].apply(lambda x: int(float(x)) if isinstance(float(x),float) and pd.notnull(float(x)) else x)

In [155]:
crm_logs

,Date received,Complaint ID,rand client,phonefinal,vru+line,call_id,priority,type,outcome,server,ser_start,ser_exit,ser_time
0,2017-03-27,CR2406263,C00004587,977-806-9726,AA0103,34536,0,NW,AGENT,MICHAL,13:34:11,13:40:23,00:06:12
1,2017-03-27,CR2405641,C00003328,322-598-7152,AA0205,34537,0,PS,AGENT,TOVA,10:58:22,11:16:10,00:17:48
2,2017-03-27,CR2405629,C00001685,508-311-5237,AA0110,34538,2,PS,AGENT,YIFAT,13:00:54,13:13:31,00:12:37
3,2017-03-23,CR2400594,C00001945,265-394-2727,AA0113,34540,2,PS,AGENT,AVNI,16:18:21,16:19:40,00:01:19
4,2017-03-22,CR2399607,C00004303,206-008-0460,AA0102,34541,1,PS,AGENT,STEREN,14:48:22,14:55:19,00:06:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3994,2019-10-12,NaN,NaN,703-826-5722,NaN,nan,nan,NaN,NaN,NaN,15:48:32,16:07:39,00:19:07
3995,2014-11-03,NaN,NaN,387-514-1611,NaN,nan,nan,NaN,NaN,NaN,11:08:45,11:14:31,00:05:46
3996,2016-09-02,NaN,NaN,508-397-7936,NaN,nan,nan,NaN,NaN,NaN,13:08:09,13:24:05,00:15:56
3997,2015-02-03,NaN,NaN,883-529-9005,NaN,nan,nan,NaN,NaN,NaN,15:47:13,15:50:33,00:03:20
3998,2015-11-21,NaN,NaN,212-770-6755,NaN,nan,nan,NaN,NaN,NaN,10:20:04,10:26:11,00:06:07

## Init Databse

In [156]:
# Connect to your PostgreSQL database
conn = psycopg2.connect(
    dbname="mobile_bank",
    user="postgres",
    password="bandung1",
    host="localhost",
    port="5433"
)
# Create a cursor object
cur = conn.cursor()

In [157]:
# Get column names and data types from the DataFrame
column_names_crm_events = crm_events.columns.tolist()
data_types_crm_events = crm_events.dtypes.tolist()



column_names_crm_logs = crm_logs.columns.tolist()
data_types_crm_logs = crm_logs.dtypes.tolist()

for _, i in enumerate(zip(column_names_crm_events, data_types_crm_events)):
    print(_, i[0], i[1])
print("==="*20)
for _, i in enumerate(zip(column_names_crm_logs, data_types_crm_logs)):
    print(_, i[0], i[1], sep="\t")

0 Date received datetime64[ns]
1 Product object
2 Sub-product object
3 Issue object
4 Tags object
5 Consumer consent provided? object
6 Submitted via object
7 Date sent to company datetime64[ns]
8 Company response to consumer object
9 Timely response? object
10 Consumer disputed? object
11 Complaint ID object
12 Client_ID object
============================================================
0	Date received	datetime64[ns]
1	Complaint ID	object
2	rand client	object
3	phonefinal	object
4	vru+line	object
5	call_id	object
6	priority	object
7	type	object
8	outcome	object
9	server	object
10	ser_start	object
11	ser_exit	object
12	ser_time	object

In [158]:
###  CONFIG

data_type = {
    "CRM_events": ["VARCHAR(255)" if i not in ["Date received", "Date sent to company"] else "DATE" for i in crm_events.columns],
    "call_center_logs":
        ["VARCHAR(255)" if i not in ["Date received"] else "DATE" for i in crm_logs.columns[:-3]]
}
# adding for ser_start, ser_exit, ser_time
add = ["TIME", "TIME", "TIME"]
for d in add:
    data_type["call_center_logs"].append(d)
data = {
    "CRM_events":{
        "data":crm_events,
        "cols_name":column_names_crm_events,
        "cols_type":data_type["CRM_events"]
    },
    "call_center_logs":{
        "data":crm_logs,
        "cols_name":column_names_crm_logs,
        "cols_type":data_type["call_center_logs"]
    }
}


creating database

In [159]:
for d in data.keys():
    try:
        # Construct the CREATE TABLE statement
        create_table_query = f"CREATE TABLE IF NOT EXISTS {d} ("
        for column_name, data_type in zip(data[d]["cols_name"], data[d]["cols_type"]):
            create_table_query += f'\n"{column_name}" {data_type},'
    
        create_table_query = create_table_query[:-1] + ")"
        print(create_table_query)
        # Execute the CREATE TABLE statement
        cur.execute(create_table_query)
        conn.commit()
    # Your code to execute SQL queries goes here
    except psycopg2.Error as e:
        print("Error:", e)
        conn.rollback()  # Roll back the transaction to its starting point
    print("\n")

CREATE TABLE IF NOT EXISTS CRM_events (
"Date received" DATE,
"Product" VARCHAR(255),
"Sub-product" VARCHAR(255),
"Issue" VARCHAR(255),
"Tags" VARCHAR(255),
"Consumer consent provided?" VARCHAR(255),
"Submitted via" VARCHAR(255),
"Date sent to company" DATE,
"Company response to consumer" VARCHAR(255),
"Timely response?" VARCHAR(255),
"Consumer disputed?" VARCHAR(255),
"Complaint ID" VARCHAR(255),
"Client_ID" VARCHAR(255))


CREATE TABLE IF NOT EXISTS call_center_logs (
"Date received" DATE,
"Complaint ID" VARCHAR(255),
"rand client" VARCHAR(255),
"phonefinal" VARCHAR(255),
"vru+line" VARCHAR(255),
"call_id" VARCHAR(255),
"priority" VARCHAR(255),
"type" VARCHAR(255),
"outcome" VARCHAR(255),
"server" VARCHAR(255),
"ser_start" TIME,
"ser_exit" TIME,
"ser_time" TIME)

inserting database values

In [160]:
crm_events.to_csv("data/terbaru_crm.csv", index=False)
crm_logs.to_csv("data/terbaru_logs.csv", index=False)

In [162]:
for d in data.keys():
    try:
        # Insert data into the table
        for row in data[d]["data"].itertuples(index=False, name=None):
            insert_query = f"INSERT INTO {d} VALUES ( {row} )"
            try:
                #cur.execute(insert_query, row)
                print(insert_query, row)
            except psycopg2.Error as e:
                print(f"Error inserting row into table {d}: {e}")
        # Commit the transaction
        conn.commit()
    except psycopg2.Error as e:
        print("Error:", e)
        conn.rollback()  # Roll back the transaction to its starting point

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-12 00:00:00'), 'CR0314710', 'C00012050', '733-697-0183', 'AA0205', 30328, 0, 'PS', 'AGENT', 'SHARON', '15:12:16', '15:31:03', '00:18:47') ) (Timestamp('2013-02-12 00:00:00'), 'CR0314710', 'C00012050', '733-697-0183', 'AA0205', 30328, 0, 'PS', 'AGENT', 'SHARON', '15:12:16', '15:31:03', '00:18:47')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-12 00:00:00'), 'CR0315068', 'C00004438', '307-979-6963', 'AA0104', 30329, 0, 'PS', 'AGENT', 'AVNI', '14:28:22', '14:43:47', '00:15:25') ) (Timestamp('2013-02-12 00:00:00'), 'CR0315068', 'C00004438', '307-979-6963', 'AA0104', 30329, 0, 'PS', 'AGENT', 'AVNI', '14:28:22', '14:43:47', '00:15:25')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-08 00:00:00'), 'CR0311729', 'C00003580', '861-257-7124', 'AA0110', 30332, 2, 'PS', 'AGENT', 'STEREN', '11:22:24', '11:32:07', '00:09:43') ) (Timestamp('2013-02-08 00:00:00'), 'CR0311729', 'C00003580', '861-257-7124', 'AA0110', 30332, 2, 'PS', 'AGENT', 'STEREN', '11:22:24', '11:32:07', '00:09:43')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-07 00:00:00'), 'CR0291709', 'C00004131', '508-135-8779', 'AA0105', 30333, 0, 'PS', 'AGENT', 'AVNI', '09:04:48', '09:12:45', '00:07:57') ) (Timestamp('2013-02-07 00:00:00'), 'CR0291709', 'C00004131', '508-135-8779', 'AA0105', 30333, 0, 'PS', 'AGENT', 'AVNI', '09:04:48', '09:12:45', '00:07:57')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-06 00:00:00'), 'CR0291481', 'C00000504', '216-336-1409', 'AA0103', 30334, 1, 'PS', 'AGENT', 'YITZ', '09:24:38', '09:38:49', '00:14:11') ) (Timestamp('2013-02-06 00:00:00'), 'CR0291481', 'C00000504', '216-336-1409', 'AA0103', 30334, 1, 'PS', 'AGENT', 'YITZ', '09:24:38', '09:38:49', '00:14:11')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-06 00:00:00'), 'CR0293175', 'C00003981', '587-778-4601', 'AA0209', 30335, 0, 'PS', 'AGENT', 'IDIT', '09:25:20', '09:38:39', '00:13:19') ) (Timestamp('2013-02-06 00:00:00'), 'CR0293175', 'C00003981', '587-778-4601', 'AA0209', 30335, 0, 'PS', 'AGENT', 'IDIT', '09:25:20', '09:38:39', '00:13:19')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-06 00:00:00'), 'CR0304801', 'C00007753', '727-376-8507', 'AA0206', 30336, 0, 'PS', 'AGENT', 'SHLOMO', '16:08:21', '16:10:38', '00:02:17') ) (Timestamp('2013-02-06 00:00:00'), 'CR0304801', 'C00007753', '727-376-8507', 'AA0206', 30336, 0, 'PS', 'AGENT', 'SHLOMO', '16:08:21', '16:10:38', '00:02:17')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-05 00:00:00'), 'CR0296695', 'C00000988', '242-720-3713', 'AA0210', 30337, 0, 'PS', 'AGENT', 'BASCH', '11:26:55', '11:31:15', '00:04:20') ) (Timestamp('2013-02-05 00:00:00'), 'CR0296695', 'C00000988', '242-720-3713', 'AA0210', 30337, 0, 'PS', 'AGENT', 'BASCH', '11:26:55', '11:31:15', '00:04:20')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-05 00:00:00'), 'CR0300080', 'C00000314', '183-315-3173', 'AA0109', 30338, 0, 'NE', 'AGENT', 'ELI', '09:01:04', '09:17:14', '00:16:10') ) (Timestamp('2013-02-05 00:00:00'), 'CR0300080', 'C00000314', '183-315-3173', 'AA0109', 30338, 0, 'NE', 'AGENT', 'ELI', '09:01:04', '09:17:14', '00:16:10')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-04 00:00:00'), 'CR0293248', 'C00001256', '989-965-6699', 'AA0106', 30339, 0, 'PS', 'AGENT', 'MIKI', '09:38:08', '09:47:20', '00:09:12') ) (Timestamp('2013-02-04 00:00:00'), 'CR0293248', 'C00001256', '989-965-6699', 'AA0106', 30339, 0, 'PS', 'AGENT', 'MIKI', '09:38:08', '09:47:20', '00:09:12')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-04 00:00:00'), 'CR0294783', 'C00000994', '478-016-1733', 'AA0203', 30340, 2, 'PS', 'AGENT', 'MICHAL', '11:41:54', '12:02:34', '00:20:40') ) (Timestamp('2013-02-04 00:00:00'), 'CR0294783', 'C00000994', '478-016-1733', 'AA0203', 30340, 2, 'PS', 'AGENT', 'MICHAL', '11:41:54', '12:02:34', '00:20:40')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-01 00:00:00'), 'CR0287730', 'C00003196', '337-157-9712', 'AA0115', 30341, 1, 'PS', 'AGENT', 'KAZAV', '15:30:08', '15:30:21', '00:00:13') ) (Timestamp('2013-02-01 00:00:00'), 'CR0287730', 'C00003196', '337-157-9712', 'AA0115', 30341, 1, 'PS', 'AGENT', 'KAZAV', '15:30:08', '15:30:21', '00:00:13')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-01 00:00:00'), 'CR0286877', 'C00002081', '420-770-2424', 'AA0105', 30342, 0, 'PS', 'AGENT', 'TOVA', '16:21:19', '16:28:52', '00:07:33') ) (Timestamp('2013-02-01 00:00:00'), 'CR0286877', 'C00002081', '420-770-2424', 'AA0105', 30342, 0, 'PS', 'AGENT', 'TOVA', '16:21:19', '16:28:52', '00:07:33')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-01 00:00:00'), 'CR0288284', 'C00004587', '814-000-4314', 'AA0202', 30343, 0, 'PS', 'AGENT', 'ANAT', '09:11:41', '09:21:58', '00:10:17') ) (Timestamp('2013-02-01 00:00:00'), 'CR0288284', 'C00004587', '814-000-4314', 'AA0202', 30343, 0, 'PS', 'AGENT', 'ANAT', '09:11:41', '09:21:58', '00:10:17')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-01 00:00:00'), 'CR0286872', 'C00000001', '367-171-6840', 'AA0202', 30344, 0, 'NW', 'AGENT', 'IDIT', '09:37:03', '09:52:27', '00:15:24') ) (Timestamp('2013-02-01 00:00:00'), 'CR0286872', 'C00000001', '367-171-6840', 'AA0202', 30344, 0, 'NW', 'AGENT', 'IDIT', '09:37:03', '09:52:27', '00:15:24')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-02-01 00:00:00'), 'CR0285384', 'C00004557', '242-346-6362', 'AA0101', 30345, 0, 'PS', 'AGENT', 'BENSION', '16:44:12', '16:48:17', '00:04:05') ) (Timestamp('2013-02-01 00:00:00'), 'CR0285384', 'C00004557', '242-346-6362', 'AA0101', 30345, 0, 'PS', 'AGENT', 'BENSION', '16:44:12', '16:48:17', '00:04:05')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-31 00:00:00'), 'CR0282653', 'C00000489', '752-960-3642', 'AA0204', 30346, 0, 'PS', 'AGENT', 'YITZ', '13:29:12', '13:44:38', '00:15:26') ) (Timestamp('2013-01-31 00:00:00'), 'CR0282653', 'C00000489', '752-960-3642', 'AA0204', 30346, 0, 'PS', 'AGENT', 'YITZ', '13:29:12', '13:44:38', '00:15:26')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-31 00:00:00'), 'CR0282435', 'C00012092', '137-407-4390', 'AA0206', 30347, 2, 'NE', 'AGENT', 'AVIDAN', '16:12:38', '16:22:12', '00:09:34') ) (Timestamp('2013-01-31 00:00:00'), 'CR0282435', 'C00012092', '137-407-4390', 'AA0206', 30347, 2, 'NE', 'AGENT', 'AVIDAN', '16:12:38', '16:22:12', '00:09:34')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-31 00:00:00'), 'CR0282358', 'C00002883', '464-341-9697', 'AA0115', 30348, 2, 'PS', 'AGENT', 'KAZAV', '16:57:37', '17:00:59', '00:03:22') ) (Timestamp('2013-01-31 00:00:00'), 'CR0282358', 'C00002883', '464-341-9697', 'AA0115', 30348, 2, 'PS', 'AGENT', 'KAZAV', '16:57:37', '17:00:59', '00:03:22')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-30 00:00:00'), 'CR0275788', 'C00000663', '186-236-1122', 'AA0213', 30349, 2, 'PS', 'AGENT', 'STEREN', '10:24:19', '10:29:42', '00:05:23') ) (Timestamp('2013-01-30 00:00:00'), 'CR0275788', 'C00000663', '186-236-1122', 'AA0213', 30349, 2, 'PS', 'AGENT', 'STEREN', '10:24:19', '10:29:42', '00:05:23')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-30 00:00:00'), 'CR0274687', 'C00002866', '129-084-1932', 'AA0204', 30350, 2, 'PS', 'AGENT', 'SHARON', '11:15:29', '11:29:27', '00:13:58') ) (Timestamp('2013-01-30 00:00:00'), 'CR0274687', 'C00002866', '129-084-1932', 'AA0204', 30350, 2, 'PS', 'AGENT', 'SHARON', '11:15:29', '11:29:27', '00:13:58')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-29 00:00:00'), 'CR0272933', 'C00002367', '973-056-2895', 'AA0214', 30351, 0, 'PS', 'AGENT', 'KAZAV', '09:34:33', '09:42:39', '00:08:06') ) (Timestamp('2013-01-29 00:00:00'), 'CR0272933', 'C00002367', '973-056-2895', 'AA0214', 30351, 0, 'PS', 'AGENT', 'KAZAV', '09:34:33', '09:42:39', '00:08:06')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-29 00:00:00'), 'CR0271939', 'C00002702', '906-122-5204', 'AA0101', 30353, 0, 'NW', 'AGENT', 'TOVA', '09:37:20', '09:41:08', '00:03:48') ) (Timestamp('2013-01-29 00:00:00'), 'CR0271939', 'C00002702', '906-122-5204', 'AA0101', 30353, 0, 'NW', 'AGENT', 'TOVA', '09:37:20', '09:41:08', '00:03:48')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-28 00:00:00'), 'CR0265855', 'C00002794', '886-514-9424', 'AA0205', 30354, 0, 'PS', 'AGENT', 'DARMON', '16:56:53', '16:57:09', '00:00:16') ) (Timestamp('2013-01-28 00:00:00'), 'CR0265855', 'C00002794', '886-514-9424', 'AA0205', 30354, 0, 'PS', 'AGENT', 'DARMON', '16:56:53', '16:57:09', '00:00:16')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-28 00:00:00'), 'CR0267004', 'C00004414', '716-609-3605', 'AA0110', 30355, 0, 'PS', 'AGENT', 'IDIT', '09:24:48', '09:28:55', '00:04:07') ) (Timestamp('2013-01-28 00:00:00'), 'CR0267004', 'C00004414', '716-609-3605', 'AA0110', 30355, 0, 'PS', 'AGENT', 'IDIT', '09:24:48', '09:28:55', '00:04:07')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-25 00:00:00'), 'CR0264386', 'C00000313', '955-233-2808', 'AA0106', 30356, 0, 'PS', 'AGENT', 'SHARON', '16:28:12', '16:34:18', '00:06:06') ) (Timestamp('2013-01-25 00:00:00'), 'CR0264386', 'C00000313', '955-233-2808', 'AA0106', 30356, 0, 'PS', 'AGENT', 'SHARON', '16:28:12', '16:34:18', '00:06:06')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-25 00:00:00'), 'CR0263718', 'C00002562', '592-308-8149', 'AA0109', 30357, 0, 'PS', 'AGENT', 'TOVA', '15:00:04', '15:01:12', '00:01:08') ) (Timestamp('2013-01-25 00:00:00'), 'CR0263718', 'C00002562', '592-308-8149', 'AA0109', 30357, 0, 'PS', 'AGENT', 'TOVA', '15:00:04', '15:01:12', '00:01:08')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-23 00:00:00'), 'CR0257098', 'C00011979', '810-315-3030', 'AA0101', 30358, 2, 'PS', 'AGENT', 'KAZAV', '11:01:04', '11:01:43', '00:00:39') ) (Timestamp('2013-01-23 00:00:00'), 'CR0257098', 'C00011979', '810-315-3030', 'AA0101', 30358, 2, 'PS', 'AGENT', 'KAZAV', '11:01:04', '11:01:43', '00:00:39')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-22 00:00:00'), 'CR0251390', 'C00001447', '862-407-2039', 'AA0105', 30359, 2, 'PS', 'AGENT', 'IDIT', '16:41:02', '16:58:10', '00:17:08') ) (Timestamp('2013-01-22 00:00:00'), 'CR0251390', 'C00001447', '862-407-2039', 'AA0105', 30359, 2, 'PS', 'AGENT', 'IDIT', '16:41:02', '16:58:10', '00:17:08')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-22 00:00:00'), 'CR0252709', 'C00000942', '832-860-3965', 'AA0112', 30360, 0, 'TT', 'AGENT', 'SHARON', '12:02:59', '12:08:47', '00:05:48') ) (Timestamp('2013-01-22 00:00:00'), 'CR0252709', 'C00000942', '832-860-3965', 'AA0112', 30360, 0, 'TT', 'AGENT', 'SHARON', '12:02:59', '12:08:47', '00:05:48')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-18 00:00:00'), 'CR0245003', 'C00001453', '600-313-9205', 'AA0103', 30361, 2, 'PS', 'AGENT', 'MORIAH', '16:31:25', '16:48:14', '00:16:49') ) (Timestamp('2013-01-18 00:00:00'), 'CR0245003', 'C00001453', '600-313-9205', 'AA0103', 30361, 2, 'PS', 'AGENT', 'MORIAH', '16:31:25', '16:48:14', '00:16:49')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-18 00:00:00'), 'CR0245744', 'C00013556', '972-899-2655', 'AA0110', 30362, 0, 'PS', 'AGENT', 'KAZAV', '12:26:19', '12:27:45', '00:01:26') ) (Timestamp('2013-01-18 00:00:00'), 'CR0245744', 'C00013556', '972-899-2655', 'AA0110', 30362, 0, 'PS', 'AGENT', 'KAZAV', '12:26:19', '12:27:45', '00:01:26')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-18 00:00:00'), 'CR0248640', 'C00002670', '915-818-1976', 'AA0103', 30364, 0, 'NW', 'AGENT', 'STEREN', '12:47:30', '12:58:26', '00:10:56') ) (Timestamp('2013-01-18 00:00:00'), 'CR0248640', 'C00002670', '915-818-1976', 'AA0103', 30364, 0, 'NW', 'AGENT', 'STEREN', '12:47:30', '12:58:26', '00:10:56')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-18 00:00:00'), 'CR0243620', 'C00001709', '844-103-4039', 'AA0110', 30365, 0, 'PS', 'AGENT', 'TOVA', '09:00:36', '09:20:47', '00:20:11') ) (Timestamp('2013-01-18 00:00:00'), 'CR0243620', 'C00001709', '844-103-4039', 'AA0110', 30365, 0, 'PS', 'AGENT', 'TOVA', '09:00:36', '09:20:47', '00:20:11')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-17 00:00:00'), 'CR0241484', 'C00002203', '107-675-0031', 'AA0115', 30366, 0, 'NW', 'AGENT', 'NO_SERVER', '09:32:31', '09:43:23', '00:10:52') ) (Timestamp('2013-01-17 00:00:00'), 'CR0241484', 'C00002203', '107-675-0031', 'AA0115', 30366, 0, 'NW', 'AGENT', 'NO_SERVER', '09:32:31', '09:43:23', '00:10:52')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-17 00:00:00'), 'CR0245852', 'C00003992', '617-618-6509', 'AA0101', 30367, 0, 'NW', 'AGENT', 'AVNI', '10:30:05', '10:44:33', '00:14:28') ) (Timestamp('2013-01-17 00:00:00'), 'CR0245852', 'C00003992', '617-618-6509', 'AA0101', 30367, 0, 'NW', 'AGENT', 'AVNI', '10:30:05', '10:44:33', '00:14:28')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-17 00:00:00'), 'CR0247463', 'C00004462', '212-162-5784', 'AA0206', 30368, 0, 'PS', 'AGENT', 'GILI', '15:19:36', '15:20:23', '00:00:47') ) (Timestamp('2013-01-17 00:00:00'), 'CR0247463', 'C00004462', '212-162-5784', 'AA0206', 30368, 0, 'PS', 'AGENT', 'GILI', '15:19:36', '15:20:23', '00:00:47')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-14 00:00:00'), 'CR0229995', 'C00003257', '394-079-5449', 'AA0116', 30369, 0, 'IN', 'AGENT', 'SHLOMO', '09:07:09', '09:26:44', '00:19:35') ) (Timestamp('2013-01-14 00:00:00'), 'CR0229995', 'C00003257', '394-079-5449', 'AA0116', 30369, 0, 'IN', 'AGENT', 'SHLOMO', '09:07:09', '09:26:44', '00:19:35')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-14 00:00:00'), 'CR0230181', 'C00000562', '113-669-9431', 'AA0104', 30370, 0, 'PS', 'AGENT', 'GILI', '11:02:20', '11:10:57', '00:08:37') ) (Timestamp('2013-01-14 00:00:00'), 'CR0230181', 'C00000562', '113-669-9431', 'AA0104', 30370, 0, 'PS', 'AGENT', 'GILI', '11:02:20', '11:10:57', '00:08:37')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-14 00:00:00'), 'CR0230849', 'C00011574', '212-472-8042', 'AA0210', 30371, 2, 'PS', 'AGENT', 'MIKI', '09:45:31', '09:58:00', '00:12:29') ) (Timestamp('2013-01-14 00:00:00'), 'CR0230849', 'C00011574', '212-472-8042', 'AA0210', 30371, 2, 'PS', 'AGENT', 'MIKI', '09:45:31', '09:58:00', '00:12:29')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-08 00:00:00'), 'CR0225004', 'C00004634', '185-216-4703', 'AA0205', 30373, 0, 'NW', 'AGENT', 'YIFAT', '13:44:57', '13:48:47', '00:03:50') ) (Timestamp('2013-01-08 00:00:00'), 'CR0225004', 'C00004634', '185-216-4703', 'AA0205', 30373, 0, 'NW', 'AGENT', 'YIFAT', '13:44:57', '13:48:47', '00:03:50')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-08 00:00:00'), 'CR0225043', 'C00000561', '843-517-1583', 'AA0213', 30374, 0, 'PS', 'AGENT', 'IDIT', '16:37:56', '16:44:55', '00:06:59') ) (Timestamp('2013-01-08 00:00:00'), 'CR0225043', 'C00000561', '843-517-1583', 'AA0213', 30374, 0, 'PS', 'AGENT', 'IDIT', '16:37:56', '16:44:55', '00:06:59')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-07 00:00:00'), 'CR0223964', 'C00002749', '794-637-5964', 'AA0101', 30375, 2, 'PS', 'AGENT', 'AVIDAN', '14:40:13', '15:00:39', '00:20:26') ) (Timestamp('2013-01-07 00:00:00'), 'CR0223964', 'C00002749', '794-637-5964', 'AA0101', 30375, 2, 'PS', 'AGENT', 'AVIDAN', '14:40:13', '15:00:39', '00:20:26')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-07 00:00:00'), 'CR0223123', 'C00001512', '565-233-1228', 'AA0101', 30376, 0, 'PS', 'AGENT', 'GILI', '15:59:30', '16:16:31', '00:17:01') ) (Timestamp('2013-01-07 00:00:00'), 'CR0223123', 'C00001512', '565-233-1228', 'AA0101', 30376, 0, 'PS', 'AGENT', 'GILI', '15:59:30', '16:16:31', '00:17:01')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-04 00:00:00'), 'CR0222382', 'C00004763', '315-020-7195', 'AA0102', 30377, 0, 'PS', 'AGENT', 'DORIT', '14:17:30', '14:17:57', '00:00:27') ) (Timestamp('2013-01-04 00:00:00'), 'CR0222382', 'C00004763', '315-020-7195', 'AA0102', 30377, 0, 'PS', 'AGENT', 'DORIT', '14:17:30', '14:17:57', '00:00:27')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-04 00:00:00'), 'CR0222664', 'C00003252', '256-150-2133', 'AA0205', 30378, 0, 'PS', 'AGENT', 'YIFAT', '10:54:31', '11:06:08', '00:11:37') ) (Timestamp('2013-01-04 00:00:00'), 'CR0222664', 'C00003252', '256-150-2133', 'AA0205', 30378, 0, 'PS', 'AGENT', 'YIFAT', '10:54:31', '11:06:08', '00:11:37')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-03 00:00:00'), 'CR0221797', 'C00000338', '568-123-5924', 'AA0105', 30379, 2, 'PS', 'AGENT', 'MICHAL', '12:00:06', '12:13:48', '00:13:42') ) (Timestamp('2013-01-03 00:00:00'), 'CR0221797', 'C00000338', '568-123-5924', 'AA0105', 30379, 2, 'PS', 'AGENT', 'MICHAL', '12:00:06', '12:13:48', '00:13:42')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-02 00:00:00'), 'CR0219773', 'C00001567', '716-634-4683', 'AA0106', 30380, 0, 'PS', 'AGENT', 'DORIT', '12:32:31', '12:35:25', '00:02:54') ) (Timestamp('2013-01-02 00:00:00'), 'CR0219773', 'C00001567', '716-634-4683', 'AA0106', 30380, 0, 'PS', 'AGENT', 'DORIT', '12:32:31', '12:35:25', '00:02:54')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-02 00:00:00'), 'CR0219606', 'C00000930', '855-235-3099', 'AA0101', 30381, 1, 'PS', 'AGENT', 'YITZ', '11:01:30', '11:10:38', '00:09:08') ) (Timestamp('2013-01-02 00:00:00'), 'CR0219606', 'C00000930', '855-235-3099', 'AA0101', 30381, 1, 'PS', 'AGENT', 'YITZ', '11:01:30', '11:10:38', '00:09:08')
INSERT INTO call_center_logs VALUES ( (Timestamp('2013-01-02 00:00:00'), 'CR0219557', 'C00000734', '127-697-9902', 'AA0105', 30382, 2, 'NE', 'AGENT', 'TOVA', '11:28:34', '11:40:01', '00:11:27') ) (Timestamp('2013-01-02 00:00:00'), 'CR0219557', 'C00000734', '127-697-9902', 'AA0105', 30382, 2, 'NE', 'AGENT', 'TOVA', '11:28:34', '11:40:01', '00:11:27')
INSERT INTO call_center_logs VALUES ( (Timestamp('2012-12-31 00:00:00'), 'CR0219200', 'C00001209', '623-904-6964', 'AA0214', 30383, 2, 'NE', 'AGENT', 'KAZAV', '13:15:46', '13:29:48', '00:14:02') ) (Timestamp('2012-12-31 00:00:00'), 'CR0219200', 'C00001209', '623-904-6964', 'AA0214', 30383, 2, 'NE', 'AGENT', 'KAZAV', '13:15:46', '13:29:48', '00:14:02')
INSERT INTO call_center_logs VALUES ( (Timestamp('2012-12-28 00:00:00'), 'CR0218797', 'C00002134', '417-623-7015', 'AA0203', 30384, 2, 'PE', 'AGENT', 'YIFAT', '12:38:47', '12:58:55', '00:20:08') ) (Timestamp('2012-12-28 00:00:00'), 'CR0218797', 'C00002134', '417-623-7015', 'AA0203', 30384, 2, 'PE', 'AGENT', 'YIFAT', '12:38:47', '12:58:55', '00:20:08')
INSERT INTO call_center_logs VALUES ( (Timestamp('2012-12-28 00:00:00'), 'CR0218565', 'C00003340', '815-631-3675', 'AA0106', 30385, 2, 'PS', 'AGENT', 'MICHAL', '11:57:22', '12:09:34', '00:12:12') ) (Timestamp('2012-12-28 00:00:00'), 'CR0218565', 'C00003340', '815-631-3675', 'AA0106', 30385, 2, 'PS', 'AGENT', 'MICHAL', '11:57:22', '12:09:34', '00:12:12')
INSERT INTO call_center_logs VALUES ( (Timestamp('2012-12-27 00:00:00'), 'CR0218168', 'C00003806', '475-358-9664', 'AA0210', 30387, 2, 'PS', 'AGENT', 'YITZ', '12:48:18', '12:50:05', '00:01:47') ) (Timestamp('2012-12-27 00:00:00'), 'CR0218168', 'C00003806', '475-358-9664', 'AA0210', 30387, 2, 'PS', 'AGENT', 'YITZ', '12:48:18', '12:50:05', '00:01:47')
INSERT INTO call_center_logs VALUES ( (Timestamp('2012-12-26 00:00:00'), 'CR0217350', 'C00004776', '212-271-5275', 'AA0214', 30389, 2, 'PS', 'AGENT', 'BENSION', '11:58:47', '12:14:22', '00:15:35') ) (Timestamp('2012-12-26 00:00:00'), 'CR0217350', 'C00004776', '212-271-5275', 'AA0214', 30389, 2, 'PS', 'AGENT', 'BENSION', '11:58:47', '12:14:22', '00:15:35')
INSERT INTO call_center_logs VALUES ( (Timestamp('2012-12-26 00:00:00'), 'CR0217612', 'C00005180', '212-970-4352', 'AA0209', 30390, 2, 'PS', 'AGENT', 'MORIAH', '10:28:56', '10:49:05', '00:20:09') ) (Timestamp('2012-12-26 00:00:00'), 'CR0217612', 'C00005180', '212-970-4352', 'AA0209', 30390, 2, 'PS', 'AGENT', 'MORIAH', '10:28:56', '10:49:05', '00:20:09')