## Task 2
Import the Luxury Loan Portfolio into pandas dataframes and use Plotly dash to create a web app that displays 3 charts of different types that show interesting business metrics.

In [48]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
data = pd.read_csv("data/LuxuryLoanPortfolio.csv")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1678 entries, 0 to 1677
Data columns (total 32 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   loan_id                           1678 non-null   object
 1   funded_amount                     1678 non-null   float64
 2   funded_date                       1678 non-null   object
 3   duration years                    1678 non-null   int64
 4   duration months                   1678 non-null   int64
 5   10 yr treasury index date funded  1678 non-null   float64
 6   interest rate percent             1678 non-null   float64
 7   interest rate                     1678 non-null   float64
 8   payments                          1678 non-null   float64
 9   total past payments               1678 non-null   int64
 10  loan balance                      1678 non-null   float64
 11  property value                    1678 non-null   float64
 12  purpose                           1678 non-null   object
 13  firstname                         1678 non-null   object
 14  middlename                        1678 non-null   object
 15  lastname                          1678 non-null   object
 16  social                            1678 non-null   object
 17  phone                             1678 non-null   object
 18  title                             1666 non-null   object
 19  employment length                 1678 non-null   int64
 20  BUILDING CLASS CATEGORY           1678 non-null   object
 21  TAX CLASS AT PRESENT              1678 non-null   object
 22  BUILDING CLASS AT PRESENT         1678 non-null   object
 23  ADDRESS 1                         1678 non-null   object
 24  ADDRESS 2                         1678 non-null   object
 25  ZIP CODE                          1678 non-null   int64
 26  CITY                              1678 non-null   object
 27  STATE                             1678 non-null   object
 28  TOTAL UNITS                       1678 non-null   int64
 29  LAND SQUARE FEET                  1678 non-null   object
 30  GROSS SQUARE FEET                 1678 non-null   object
 31  TAX CLASS AT TIME OF SALE         1678 non-null   int64
dtypes: float64(7), int64(7), object(18)
memory usage: 419.6+ KB

In [50]:
data.columns

Index(['loan_id', 'funded_amount', 'funded_date', 'duration years',
       'duration months', '10 yr treasury index date funded',
       'interest rate percent', 'interest rate', 'payments',
       'total past payments', 'loan balance', 'property value', 'purpose',
       'firstname', 'middlename', 'lastname', 'social', 'phone', 'title',
       'employment length', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS 1', 'ADDRESS 2', 'ZIP CODE',
       'CITY', 'STATE', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET',
       'TAX CLASS AT TIME OF SALE'],
      dtype='object')

In [51]:
data["funded_date"] = pd.to_datetime(data["funded_date"] )

In [52]:
# Rename columns to lowercase with underscores
data = data.rename(columns=lambda x: x.lower().replace(' ', '_'))

Interest income per loan

df['interest_income'] = df['loan balance'] * df['interest rate']

In [53]:
data['interest_income'] = data['loan_balance'] * data['interest_rate']
data['interest_income']

0       12553.663926
1       33579.636819
2       74674.139156
3       16827.698238
4       48242.173132
            ...
1673     8391.930991
1674    22161.039365
1675    35588.972086
1676    17451.458449
1677    33730.087098
Name: interest_income, Length: 1678, dtype: float64

In [54]:
# Count the number of loans considered as repaid
repaid_loans = data[data['total_past_payments'] >= data['funded_amount']].shape[0]

# Calculate the total number of loans
total_loans = data.shape[0]

# Calculate the Repayment Rate
repayment_rate = (repaid_loans / total_loans) * 100
print(repaid_loans, total_loans, repayment_rate)

0 1678 0.0

Loan to value ratio

calculate the Loan-to-Value (LTV) ratio
df['LTV_ratio'] = df['loan_balance'] / df['property_value']

In [55]:
# Calculate the Loan-to-Value (LTV) ratio
data['LTV_ratio'] = data['loan_balance'] / data['property_value']
data['LTV_ratio']

0       0.401755
1       0.479755
2       0.493775
3       0.354051
4       0.682717
          ...
1673    0.358292
1674    0.567543
1675    0.583474
1676    0.363918
1677    0.670293
Name: LTV_ratio, Length: 1678, dtype: float64

portofolio yield

In [56]:
# Calculate the total interest income earned from the portfolio
total_interest_income = data['total_past_payments'].sum()

# Calculate the total loan amount in the portfolio
total_loan_amount = data['funded_amount'].sum()

# Calculate the portfolio yield
portfolio_yield = total_interest_income / total_loan_amount

print("Portfolio Yield:", portfolio_yield)

Portfolio Yield: 2.5501420380829033e-05

interest coverage ratio

 Calculate the total interest expenses
total_interest_expenses = (df['interest_rate'] * df['loan_balance']).sum()

 Calculate the total earnings before interest and taxes (EBIT)
total_ebit = df['total_past_payments'].sum()

In [57]:
data["interest_expenses"] = data['interest_rate'] * data['loan_balance']

In [58]:
used_data = data[["loan_id","funded_date","interest_income", "LTV_ratio","funded_amount"]]
used_data.to_csv("used_data.csv", index=False)

## Creating PLOT

In [59]:
data

,loan_id,funded_amount,funded_date,duration_years,duration_months,10_yr_treasury_index_date_funded,interest_rate_percent,interest_rate,payments,total_past_payments,...,zip_code,city,state,total_units,land_square_feet,gross_square_feet,tax_class_at_time_of_sale,interest_income,LTV_ratio,interest_expenses
0,LL0000076,790000.0,2012-04-27,20,240,1.96,3.359,0.03359,4524.65,92,...,10001,New York City,NY,1,0,0,2,12553.663926,0.401755,12553.663926
1,LL0000151,1720000.0,2014-10-14,15,180,2.21,3.508,0.03508,12302.74,62,...,10104,New York City,NY,1,0,0,1,33579.636819,0.479755,33579.636819
2,LL0000161,3720000.0,2014-06-07,15,180,2.60,3.896,0.03896,27322.92,66,...,10029,New York City,NY,1,0,0,1,74674.139156,0.493775,74674.139156
3,LL0000175,1079000.0,2012-02-23,20,240,1.99,3.389,0.03389,6196.40,94,...,10010,New York City,NY,1,0,0,2,16827.698238,0.354051,16827.698238
4,LL0000178,2028000.0,2016-04-01,20,240,1.79,3.188,0.03188,11439.05,45,...,10172,New York City,NY,1,0,0,4,48242.173132,0.682717,48242.173132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,LL0001228,528000.0,2012-11-10,20,240,1.61,3.010,0.03009,2930.65,85,...,10158,New York City,NY,1,0,0,1,8391.930991,0.358292,8391.930991
1674,LL0001358,885000.0,2015-08-16,20,240,2.20,3.599,0.03599,5177.78,52,...,10108,New York City,NY,1,0,0,1,22161.039365,0.567543,22161.039365
1675,LL0001479,1530000.0,2014-09-01,20,240,2.35,3.749,0.03748,9069.60,64,...,10166,New York City,NY,1,0,0,1,35588.972086,0.583474,35588.972086
1676,LL0001561,897000.0,2014-02-14,15,180,2.75,4.049,0.04049,6657.05,70,...,10081,New York City,NY,11,0,16376,2,17451.458449,0.363918,17451.458449
1677,LL0001674,1656000.0,2016-07-12,15,180,1.53,2.828,0.02828,11299.54,41,...,10022,New York City,NY,1,0,0,2,33730.087098,0.670293,33730.087098

In [60]:
# Group by year
yearly_data = data.groupby(data['funded_date'].dt.year)[["interest_expenses", "LTV_ratio","interest_expenses"]].median()
yearly_data

             interest_expenses  LTV_ratio  interest_expenses
funded_date
2012              26372.794360   0.498678       26372.794360
2013              35667.608159   0.547814       35667.608159
2014              40193.793477   0.591510       40193.793477
2015              41509.029738   0.660279       41509.029738
2016              40447.875052   0.731680       40447.875052
2017              46935.533518   0.779998       46935.533518
2018              58331.060738   0.841767       58331.060738
2019              50962.602894   0.916003       50962.602894

In [61]:
# Group by year
monthly_data = data.groupby(data['funded_date'].dt.month)[["interest_expenses", "LTV_ratio","interest_expenses"]].median()
monthly_data

             interest_expenses  LTV_ratio  interest_expenses
funded_date
1                 37642.567853   0.613360       37642.567853
2                 40250.564629   0.610113       40250.564629
3                 46358.576873   0.649443       46358.576873
4                 39877.596928   0.667327       39877.596928
5                 41698.731787   0.706760       41698.731787
6                 43454.416211   0.677908       43454.416211
7                 41320.525515   0.667507       41320.525515
8                 40079.521490   0.673320       40079.521490
9                 45143.208571   0.733802       45143.208571
10                41260.115764   0.722227       41260.115764
11                42364.449568   0.707045       42364.449568
12                42451.788610   0.731680       42451.788610

In [62]:
year_month_data = data.copy()

# Create a new column for the combined year and month
year_month_data['year_month'] = year_month_data['funded_date'].dt.to_period('M')

# Group by year_month and sum the income
yearly_monthly_income = year_month_data.groupby(['year_month'])[["interest_expenses", "LTV_ratio","interest_expenses"]].sum()

In [63]:
yearly_monthly_income

            interest_expenses  LTV_ratio  interest_expenses
year_month
2012-01          7.097842e+05  10.557246       7.097842e+05
2012-02          8.949933e+05  11.088417       8.949933e+05
2012-03          5.540123e+05   6.997994       5.540123e+05
2012-04          4.672342e+05   6.078181       4.672342e+05
2012-05          4.090754e+05   8.437177       4.090754e+05
...                       ...        ...                ...
2019-08          4.745302e+05  12.015405       4.745302e+05
2019-09          1.824349e+06  23.869069       1.824349e+06
2019-10          1.045300e+06  18.529579       1.045300e+06
2019-11          1.054862e+06  19.680017       1.054862e+06
2019-12          8.977401e+05  18.685615       8.977401e+05

[96 rows x 3 columns]

In [64]:
data = {
    'Date': pd.date_range(start='2021-01-01', end='2021-12-31', freq='D'),
    'Value': range(len(pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')))  # 3 years of daily data
}
test = pd.DataFrame(data)

test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    365 non-null    datetime64[ns]
 1   Value   365 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.8 KB